<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="script.js"></script>
    <title>Home Page</title>
</head>
<body>
    <div class="main" >
        
        <form action="/" >
            <h1>Home Page</h1>
            <h4>Fill your details</h4>
            <div>
                <input type="text" name="name" placeholder="Enter your name here">
            </div>
            <div>
                <input onmouseover="change()" type="text" name="email" placeholder="Enter your email here">
            </div>
            <div>
            <button type="submit">submit</button>
            </div>
        </form>
    </div>
</body>
</html>