<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head1</title><link rel="stylesheet" href="/style.css">
</head>
<body>
    Form Submitted Succesffullyyyyy!! <br>
    Hello this is page 1 !!!
    <br><hr>
    <a href="/">Click here for Home</a><br><hr>
    <a href="/home2">Click here for page 2</a><br><hr>
    <a href="/home3">Click here for page 3</a><br><hr>
</body>
</html>